<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>RegisteR Form</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <script>
        </script>
    </head>
    <body>
        <main>
            <div class="container">
                <h2 class="bio_head form-group text-center justify-content-center">Register:</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="button" class="btn btn-info align-items-center" data-toogle="modal" data-target="#exampleModalCenter", id="button", disabled>Submit</button></a>
                    </form>
            </div>

        </main>
        <footer>
            <script>
                var check_nama = false;
                var check_email = false;
                var check_pasword = false;
                $("h2").click( function () {
                    $("h2").css({"font-size":"1000px"});
                });
                $("#nama").change( function (){
                    if (document.getElementById('nama').value !== ""){
                        check_nama = true;
                    }else{
                        check_nama = false;
                    }
                    chek_buttton();
                });
                $("#pasword").change(function(){
                    if (document.getElementById('pasword').value !== ""){
                        check_pasword = true;
                    }else{
                        check_pasword = false;
                    }
                    chek_buttton();
                });
                $("#email").change(function(){
                    var email = document.getElementById('email').value;
                    if (email === ""){
                        check_email = false;
                        chek_buttton();
                        return false;
                    }
                    $.ajax({
                        type: 'POST',
                        url: 'check-email/',
                        data: {
                            'email': email,
                            'csrfmiddlewaretoken': '{{csrf_token}}',
                        },
                        dataType: 'json',
                        success: function (data) {
                            if (!data.valid || data.sudah_ada) {
                                check_email = false;
                                alert("not valid atau sudah terdaftar");
                            } else {
                                check_email = true;
                                alert("valid");
                            }
                            
                            chek_buttton();
                        }
                    });
                });
                $("#button").click(function (){
                    var nama = document.getElementById('nama').value;
                    var email = document.getElementById('email').value;
                    var pasword = document.getElementById('pasword').value;
                    if(check_email && check_nama && check_pasword){
                        $.ajax({
                            type: 'POST',
                            url: 'submit-form/',
                            data: {
                                'nama': nama,
                                'email': email,
                                'pasword': pasword,
                                'csrfmiddlewaretoken': '{{csrf_token}}',
                            },
                            dataType: 'json',
                            success: function (data) {
                                alert('Register Succes');
                                $("#nama").val("");
                                check_nama = false;
                                $("#email").val("");
                                check_email = false;
                                $("#pasword").val("");
                                check_pasword = false;
                            }
                                
                        });
                    }
                });
                function chek_buttton() {
                    if(check_email && check_nama && check_pasword){
                        $("#button").removeAttr("disabled");
                    }else{
                        $("#button").attr("disabled", "disabled");
                    }      
                }
            </script>
        </footer>
    </body>
</html>

