<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <script>
    $(document).ready(function() {
        $( "#accordion" ).accordion();
    });

    $(document).ready(function() {
        $("#theme_change_dark").click(function() {
            $("div.container-fluid").css({"color":"rgb(214, 214, 214)", "background-color":"midnightblue"})
        });
        $("#theme_change_light").click(function() {
            $("div.container-fluid").css({"color":"black", "background-color":"white"})
        });
    });
    </script>
</head>
<body>
    <div class="container-fluid" style="min-height: 655px;">
        <br>
        <div class="container">
            <h3>Profil Saya</h3>
            Nama : {{ nama }} <br>
            NPM : {{ npm }} <br>
            Study : {{study}}    
        </div>
        <br>
        <div class="container ui-accordion" style="max-width:1444px; min-width:300px;" id="accordion">
            <h3 class="ui-accordion-header">Sekolah</h3>
                <div class="ui-accordion-content">
                    <ul>
                        <li>Universitas Indonesia</li>
                        <li>SMA N 3 Tarutung</li>
                        <li>SMP N 2 Pagaran</li>
                        <li>SD N 173306 Sipultak</li>
                    </ul>
                </div>
            <h3 class="ui-accordion-header">Hobby</h3>
                <div class="ui-accordion-content">
                    <ul>
                        <li>Bermain Volly</li>
                        <li>jalan-jalan</li>
                        <li>Nonton</li>
                    </ul>
                </div>
            <h3 class="ui-accordion-header">Pengalaman Kepanitiaan dan organisasi</h3>
                <div class="ui-accordion-content">
                    <ul>
                        <li>Staff Olimpiade UI</li>
                        <li>Staaf CS League</li>
                        <li>Panitia Paskah, RKF dan Natal</li>
                        <li> Divisi Aspirasi DPM UI</li>
                        <li> Kontingen Voly Fakultas Ilmu Komputer</li>
                        <li>Divisi IGI Compfest X</li>
                        <li>Verivikasi dan pengawas PEMIRA FASILKOM</li>
                    </ul>
                </div>
        </div>
        <br>
        <div class="container">
            <h4>Choose Your Theme</h4>
            <button class="btn btn-primary" id="theme_change_dark">Blue</button>
            <button class="btn btn-primary" id="theme_change_light">Light</button>
        </div>
    </div>
</body>
</html>